@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
body{
    background: #fff;
}

*{
    font-weight: 400;
    font-family: 'Ubuntu';
}

img{
    object-fit: cover;
}

.wrapper{
    margin: 1.5rem auto;
}

/* Main Post */
.main-post{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

/* Main Post Header */
.main-post .header{
    padding: 0 30px;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.main-post .header .place{
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Crimson Text';
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.main-post .header .place span{
    color: green;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    padding: 10px;
}

.main-post .header .place span:hover{
    background: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.main-post .header .place-sub{
    color: gray;
    font-family: 'Crimson Text';
}

.main-post .header .price{
    color: #B12704;
    margin-top: 6px;
}

/* Main Post Images Display */
.main-post .post-img-display{
    grid-gap: 5px;
    height: 350px;
    background: #fff;
}

.main-post .post-img-display div:last-child{
    position: relative;
}

.main-post .post-img-display div:last-child::before{
    content: '15+';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff;
    font-size: 3em;
    opacity: 0.5;
}

/* Main Post Info-Bar */
.main-post .info-bar{
    margin: 5px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: #333;
    align-items: center;
}

.main-post .info-bar .left{
    display: flex;
}

.main-post .info-item{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: gray;
    font-size: 0.9rem;
}

.main-post .info-item:nth-child(1){
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.main-post .info-item i{
    font-size: 1.5em;
    padding: 0 5px;
    color: gray;
}

/*
.main-post .info-item:nth-child(4n-3) i{
    color: red;
}

.main-post .info-item:nth-child(4n-2) i{
    color: green;
}

.main-post .info-item:nth-child(4n-1) i{
    color: blue;
}

.main-post .info-item:nth-child(4n) i{
    color: orange;
}
*/

.main-post .post-content {
    margin: 1rem 0;
    padding: 0 30px;
}

.post-content *{
    font-family: 'Crimson Text';
}

.post-content h3{
    font-size: 1.8em;
}

.post-content .items{
    width: 40vw;
    max-width: 600px;
}

.items .item:first-child{
    border-top: 1px solid var(--border-color);
}

.items .item{
    --border-color: rgba(200,200,200,0.4);
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}


.items .item div:first-child{
    width: 40%;
    color: gray;
}

.post-content .btm-contact-agent{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Footer */
.footer{
    background: #F0F0F0;
    color: #757575;
    font-size: 0.8rem;
}

.footer .wrapper{
    margin: 0 auto;
    padding: 1rem 0;
}

.footer .wrapper .lists{
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.footer ul .header{
    font-weight: 600;
    color: var(--primary-color);
}

.footer ul > *{
    margin: 0.5rem auto;
}

.footer ul a{
    color: inherit;
    transition: all 0.3s;
}

.footer ul a:hover{
    color: #140004;
}

.footer .lists .social-media{
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.footer .social-media i:hover{
    color: #140004;
}

.top-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

body > .wrapper{
    margin-top: 4rem;
}